<section class="link">
  <div class="link__block contacts-container">

    <ul class="link__list list-reset">

      <li tabindex="0" class="link__item link__item--website">
        <a class="link__website link-btn" href="http://www.edinworld.webtm.ru" target="_blank" tabindex="1" >WebSite</a>
      </li>

      <li tabindex="0" class="link__item link__item--instagramm">
        <a class="link__instagramm link-btn" href="https://instagram.com/education.in.china?igshid=YmMyMTA2M2Y=" target="_blank" tabindex="1" >Instagram</a>
      </li>

      <li tabindex="0" class="link__item link__item--mail">
        <a class="link__mail link-btn" href="mailto:itp2019@mail.ru" target="_blank" tabindex="1" >Email</a>
      </li>

      <li tabindex="0" class="link__item link__item--googleform">
        <a class="link__googleform link-btn" href="https://docs.google.com/forms/d/1JYevgkhgZQZfhxGAdRZ5WktNbUoyfuBV1K6AtZiTiEo/edit" target="_blank" tabindex="1" >Google form</a>
      </li>

      <li tabindex="0" class="link__item link__item--telegramm">
        <a  class="link__telegramm link-btn" href="https://t.me/thesidorova" target="_blank" tabindex="1" >Telegramm</a>
      </li>

      <li tabindex="0" class="link__item link__item--whatsapp">
        <a class="link__whatsapp link-btn" href="https://api.whatsapp.com/send? phone=905354892648" target="_blank" tabindex="1" >WhatsApp</a>
      </li>

      <li tabindex="0" class="link__item link__item--vk">
        <a class="link__vk link-btn" href="https://vk.com/grantforstudy" target="_blank" tabindex="1" >Vkontakte</a>
      </li>

    </ul>

  </div>
</section>
