<section class="about" id="about">
  <div class="container">
    <div class="about__block">
      <h1 class="about__header caption">О нас</h1>
      <p class="about__parag">
        Наша компания "Парк Международных Технологий" осуществляет мечту тех, кто хочет учиться в Китае.
      </p>
      <p class="about__parag">
        Мы сотрудничаем со многими вузами Китайской Народной Республики.
      </p>
      <p class="about__parag">
        За время нашей работы компания осуществила множество совместных проектов по обмену студентами с вузами Китая, России и Беларуси.<br>
        Мы помогли не одному десятку молодых людей выбрать и получить достойное образование.<br>
        Выбрав нашу компанию, вы экономите деньги, время и нервы, приобретаете верного помощника на время адаптации и всего обучения за границей.<br>Этот факт является наиболее важным для родителей, которые переживают за вас и хотят быть уверенны в вашей безопасности.
      </p>
      <p class="about__parag">
        К нам можно обратиться за помощью в любой жизненной ситуации.
      </p>
      </div>
    </div>
</section>
