<section class="document" id="document">
  <div class="container">
    <h1 class="document__header caption">Документы</h1>

    <div class="document__block">

      <ul class="document__list-header list-reset d-flex al-i-center jf-sb">
        <li class="document__items">
          Список документов
        </li>
        <li class="document__items">
          Языковой год
        </li>
        <li class="document__items">
          Бакалавриат
        </li>
        <li class="document__items">
          Магистратура
        </li>
        <li class="document__items">
          Докторантура
        </li>
      </ul>

      <!-- заявление -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Заявление<br>
          <a href="Application-form.docx" download="Application-form.docx">(скачать форму)</a>
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- паспорт -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Паспорт<br>Срок действия ≥ 6 месяцев）
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- атестат -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Свидетельство о последнем<br>образовании
        </li>
        <li class="document__inems">
          Аттестат после 11 класса
        </li>
        <li class="document__inems">
          Аттестат после 11 класса
        </li>
        <li class="document__inems">
          Диплом бакалавриата
        </li>
        <li class="document__inems">
          Диплом магистратуры
        </li>
      </ul>
      <!-- выписка оценок -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Выписка оценок
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- Сертификат владение языком -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Сертификат владение языком
        </li>
        <li class="document__inems">
          &#8212;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- рекомендательные письма -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Два рекомендательных письма
        </li>
        <li class="document__inems">
          Рук. класса<br>(+ любой учитель)
        </li>
        <li class="document__inems">
          Рук. класса<br>(+ любой учитель)
        </li>
        <li class="document__inems">
          Доценты и выше
        </li>
        <li class="document__inems">
          Доценты и выше
        </li>
      </ul>
      <!-- выписка с банковского счета -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Выписка с банковского счета<br>(по требованию университета)
        </li>
        <li class="document__inems">
          Студент платной формы
        </li>
        <li class="document__inems">
          Студент платной формы
        </li>
        <li class="document__inems">
          Студент платной формы
        </li>
        <li class="document__inems">
          Студент платной формы
        </li>
      </ul>
      <!-- Справка отсутствия судимости -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Справка отсутствия судимости<br>(не старше 6 месяцев)
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- Медиценская справка -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Медицинская справка<br>(не старше 6 месяцев)<br>
          <a href="Medical-form.pdf" download="Medical-form.pdf">(скачать форму)</a>
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- фото -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Фото 3*4 с белым фоном
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
      <!-- биография -->
      <ul class="document__list list-reset d-flex al-i-center jf-sb">
        <li class="document__inems">
          Биография
        </li>
        <li class="document__inems">
          не<wbs> обязательно</wbs>
        </li>
        <li class="document__inems">
          не<wbs> обязательно</wbs>
        </li>
        <li class="document__inems">
          &#10004;
        </li>
        <li class="document__inems">
          &#10004;
        </li>
      </ul>
    </div>

    <p class="document__note">
      Примечаниe: Все предоставляемые документы должны быть на китайском или английском языке.<br>
      Документы на других языках, должны быть переведены на китайский или английский язык (переводы заверить нотариально).</p>
  </div>
</section>
