<section class="grants" id="grants">
  <div class="container">
    <h2 class="grants__header caption">Гранты</h2>

    <div class="grants-tabs tabs" data-tabs="tab">
      <ul class="grants-tabs__nav tabs__nav">
        <li class="grants-tabs__nav-item tabs__nav-item"><button class="grants-tabs__nav-btn tabs__nav-btn" type="button">Языковые курсы</button></li>
        <li class="grants-tabs__nav-item tabs__nav-item"><button class="grants-tabs__nav-btn tabs__nav-btn" type="button">Бакалавриат</button></li>
        <li class="grants-tabs__nav-item tabs__nav-item"><button class="grants-tabs__nav-btn tabs__nav-btn" type="button">Магистратура</button></li>
      </ul>
      <div class="grants-tabs__content tabs__content">

        <!-- языковые курсы -->
        <div class="grants-tabs__panel tabs__panel">
          <!-- card 0 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">北京林业大学 Пекинский университет лесного хозяйства</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">北京 Пекин</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">免学费、免住宿费 учёба и проживание все бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">只收俄罗斯等欧洲学生和少数中亚学生，或者本科毕业的农林专业学生，也可以做本科1+4全免费
                  Прием только европейских студентов, таких как Россия или выпускников агролесомелиорации,
                  также можно сделать программу 1+4 учёба и проживание все бесплатно </div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- //card 1 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">河北大学 Университет Хэбей</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">河北保定 Баодин провинция Хэбей</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">孔子学院奖学金 стипендия института конфуция<br>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">не требуется рекомендательное письмо от института конфуция</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元 (360$)</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 2 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">曲阜师范大学 педагогический университет Цюйфу</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">山东曲阜 провинция Шаньдун город Цюйфу</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">孔子学院奖学金 стипендия института конфуция<br>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">требуется рекомендательное письмо от института конфуция</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元 (360$)</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">8 000元 (1150$)</div>
              </li>
            </ul>
          </div>
          <!-- card 3 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">西安建筑科技大学 Сианьский университет архитектуры и технологий </div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">陕西西安 провинция Шэньси город Сиань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">孔子学院奖学金 стипендия института конфуция<br>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">требуется рекомендательное письмо от института конфуция</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元 (360$)</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">8 000元 (1150$)</div>
              </li>
            </ul>
          </div>
          <!-- card 4 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">东北财经大学 северо-восточный финансово-экономический университет </div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">辽宁大连 провинция Ляонин город Далянь </div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">孔子学院奖学金 стипендия института конфуция<br>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元 (360$)</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 5 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">大连理工大学 Даляньский политехнический университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">辽宁大连 провинция Ляонин город Далянь </div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">孔子学院奖学金 стипендия института конфуция<br>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元 (360$)</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 6 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">怀化学院 институт Хуайхуа</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">湖南怀化 провинция хунань город вайхуа</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Требования:</div>
                <div class="feature-right">нет особых требований</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">9 000元 (1300$)</div>
              </li>
            </ul>
          </div>
          <!-- card 7 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">湖南师范大学 Хунаньский педагогический университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">湖南长沙 Чанша, провинция Хунань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">孔子学院奖学金 стипендия института конфуция<br>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元 (360$)</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 8 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">嘉兴学院 институт цзясин</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">浙江嘉兴 провинция чжэцзян город цзясин</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">免学费、免住宿费 учёба и проживание все бесплатно </div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">9 000元 (1300$)</div>
              </li>
            </ul>
          </div>
          <!-- card 9 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">浙江金融职业学院 Чжэцзянский финансовый профессиональный колледж</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">浙江杭州 провинция чжэцзян город ханчхоу</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">8 000元 (1150$)</div>
              </li>
            </ul>
          </div>
          <!-- card 10 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">南华大学 Университет Наньхуа</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">湖南衡阳 Хэнъян-провинция хунань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">>обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">9 000元 (1300$)</div>
              </li>
            </ul>
          </div>
          <!-- card 11 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">海南中瑞酒店管理学院 Хайнаньский колледж гостиничного менеджмента Чжунжуй</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">海南三亚 про хайнань город Санья</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">обучение проживание бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">30 апреля</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">7 000元 (1050$)</div>
              </li>
            </ul>
          </div>
          <!-- card 12 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">上海出版印刷职业专科学校 Шанхайский издательско-полиграический профессиональный колледж</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">上海 Шанхай</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费7000元/年，住宿费5000元/年 за учёбу 7000 ю/год, за проживание 5000 ю/год</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">4 000元 (600$)</div>
              </li>
            </ul>
          </div>
          <!-- card 13 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">上海工程技术大学 Шанхайский инженерно-технологический университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">上海Шанхай</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费12000元/年，住宿费5000元年 за учёбу 12000 ю/год, за проживание 5000 ю/год</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">4 000元 (600$)</div>
              </li>
            </ul>
          </div>
          <!-- card 14 -->
          <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">中国石油大学）китайский нефтяной университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">山东青岛 Чиндао провинция Шаньдун</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费7000元/学期，住宿费5000/年 за учёбу 7000 ю/год, за проживание 5000 ю/год</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">4 000元 (600$)</div>
              </li>
            </ul>
          </div>
           <!-- card 15 -->
           <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">长安大学 университет Чанань</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">陕西西安 провинция Шаньси город Сиань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费13000元/年，住宿费4500元/年，给生活费1000/月 за учёбу 13000 ю/год, за проживание 4500 ю/год стипендия 1000 ю/месяц</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">9 000元 (1300$)</div>
              </li>
            </ul>
          </div>
           <!-- card 16 -->
           <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">南京理工大学 Нанкинский университет науки и технологий</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">江苏南京 провинция цзянсу город нанкинь</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费住宿费保险费 6300元/学期 Стоимость проживания, учёбы и страхование 6300 юаней/семестр</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">4 000元 (600$)</div>
              </li>
            </ul>
          </div>
           <!-- card 17 -->
           <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">成都工业学院 Чэндуский технологический университет </div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">四川成都 Чэнду провинция Сычуань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">免学费、免住宿费 учёба и проживание все бесплатно</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">4 000元 (600$)</div>
              </li>
            </ul>
          </div>
           <!-- card 18 -->
           <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">天津商务职业学院 Тяньцзиньский профессиональный бизнес-колледж</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">天津 Тяньцзинь</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费8000元/年，住宿费4000元/年 за учёбу 8000 ю/год, за проживание 4000 ю/год</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">возможно с бакалавриата</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">9 000元 (1300$)</div>
              </li>
            </ul>
          </div>
           <!-- card 19 -->
           <div class="grants__card">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">延庆第一职业学校 Иянь чин первый профессиональный колледж</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">北京 Пекин</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">学费16000元/年 住宿费5000元/年 за учёбу 16000 ю/год ,за проживание 5000 ю/год</div>
              </li>
              <li>
                <div class="feature-left">Условия:</div>
                <div class="feature-right">
                  专收15-17岁学生，学生，学校管理严格。报价包含学费、住宿费、保险费、未成年人担保费用。
                  для учеников возраст 15-17 лет, строгое управление школой, в цену входит учёба, проживание, страховой полис, опекунство (питание оплачивается дополнительно)</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">30 000元 (4300$)</div>
              </li>
            </ul>
          </div>

          <div class="d-grid">
            <button type="button" class="grants__btn btn-reset" id="grantsBtn-language">Смотреть больше грантов</button>
          </div>
        </div>

        <!-- бакалавриат -->
        <div class="grants-tabs__panel1 tabs__panel">
            <!-- card 1 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">上海电力大学 Шанхайский университет электроэнергетики</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">上海 Шанхай</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">一等：全免费、每个月1200元生活费；二等：免学费，住宿费3500元/年,
                    грант первой степени: проживание и учёба все бесплатно, стипендия 1200 ю/месяц<br>
                    грант второй степени: учёба бесплатно, проживание 3500 ю/год</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">学校需要面试，一等奖学金获奖条件是汉语流利；二等保证能录取,
                    университет проводит собеседование у получателя первой степени гранта,
                    условия получения первой степени гранта - у студента должена быть свободная устная речью.
                    Второй степени грант 100% гарантия для поступления
                  </div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">да/нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 2 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">上海工程技术大学 Шанхайский инженерно-технологический университет</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">上海 Шанхай</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">免学费，住宿费1200元/年(英文授课 国际贸易，纺织工程和人工智能三个专业)
                    Бесплатное обучение, проживание 1200 юаней в год
                    (на английском языке преподаются три специализации: международная торговля, текстильная инженерия и искусственный интеллект)
                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">无要求 хороший английский</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 3 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">宁夏大学 Университет Нинся</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">宁夏银川 Нинся Иньчуань</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">1+3汉语言文学专业，全免费，生活费1000元/月,
                    бакалавр программа 1+3, китайский язык и литература ,проживание и учёба все бесплатно.</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">主要招收东欧学生,
                    HSK не требуется, в основном для восточноевропейских студентов.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">1000元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 4 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">安徽师范大学 Аньхойский педагогический университет</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">安徽芜湖 провинция Аньхой город Уху</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">1+3汉语言文学专业，全免费，生活费,
                    1+3 специализация китайский язык и литература, все бесплатно.</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">Особых условий нет.</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 5 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">曲靖师范学院 Цюйцзинский педагогический институт</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">云南曲靖 провинция Юнь-Нань город Цюйцзин</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">全免费、生活费400-600每月,
                     бакалавр, проживание и учёба бесплатно</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">主要招收东欧学生,
                    В основном для восточноевропейских студентов.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">400-600元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 6 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">成都工业学院 Чэндуский технологический университет</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">四川成都 Чэнду провинция Сычуань</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">全免费, проживание и учёба бесплатно.
                    Специальности: Электронная наука и техника, Международная торговля, Автосервис</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">要求HSK4级 требуется HSK4</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">1000元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 7 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">中国民航大学 Китайский университет гражданской авиации</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">天津 Тяньцзиньь</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">一等：全免费、生活费1400元/月；二等：免学费，免住宿费；英文授课专业工商管理和通信工程,
                    Грант первого класса: все бесплатно, стипендия 1400 юаней в месяц.
                    Второго класса: все бесплатно, без стипендии обучение на английском языке по специальности:
                    Управление бизнесом и коммуникационная инженерия</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">无特殊要求  中文授课要求HSK4，英文授课一等奖学金要40%
                    для обучения на китайском требуется HSK4, на ангиийском с собеседованием.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">1400元/нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 8 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">西南政法大学 Юго-западный университет политических наук и права</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">重庆 Чунцин</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">本科一等全免给1400，二等全免，专业是法学和国际贸易1,
                    грант первой степени: проживание и учёба бесплатно, стипендия 1000 ю/месяц,
                    грант второй степени :проживание и учёба все бесплатно ,стипендии нет. Специальность: юриспруденция, международная торговля</div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">要求HSK4 250分以上，成绩优秀,
                    требуется HSK4 250 баллов и выше, высокий средний бал.</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">1000元/нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 9 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">成都大学 университет Чэнду</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">四川成都 провинция Сысуань город Чэнду</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">主要招收艺术生，产品设计，环境设计，动画，编导，钢琴、小提琴、声乐能专业，本科全免给1200元，硕士全免给1400元
                    в основном принимает студентов искусств, специальность: дизайн продукции, дизайн окружающей среды, анимация, режиссура, пианино,
                    скрипка, вокал, бакалавр - все бесплатно.

                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">主要招收东欧学生,
                    HSK не требуется, в основном для восточноевропейских студентов.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">1200元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 10 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">嘉兴学院 институт Цзясин</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">浙江嘉兴 провинция Чжэцзян город Цзясин</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">全免费，另有英文授课项目，可以按照1+4来操作，全免。
                    проживание и учёба все бесплатно, первый год стипендии нет,
                    со второго года стипендия зависит от успеваемости и экзаменов.

                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">无特殊要求，学校离上海很近 。
                    нет осовых требований , город цзясин очень близко от Шанхая</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 11 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">中南财经政法大学 центрально-южный финансово-экономический университет</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">湖北武汉 провинция Хубей город Ухань</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">本硕博全免给2500元, проживание и учёба все бесплатно.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">要求HSK5以上，成绩优秀 требуется HSK5, должен быть высокий средний бал</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">2500元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 12 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">中南大学 центрально-южный университет</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">湖南长沙 Чанша провинция Хунань</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">本硕博全免给2000/2500/3000
                    проживание и учёба бесплатно.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">要求HSK4 250分以上，成绩优秀
                    требуется HSK4 250 баллов и выше, должен быть высокий средний бал</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">2000元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
            <!-- card 13 -->
            <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">扬州大学 университет Янчжоу</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">江苏扬州 про Цзянсу город Янчжоу</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">本科，国际贸易，机械设计制造  软件工程、土木工程，旅游管理，汉语国际教育，全免费；硕士，全免给1500，博士全免给2500元。
                    международная торговля, механический дизайн и производство, програмная инженерия, гражданское строительство,
                     управление туризмом, китайский язык для международных образований,
                     бакалавриат проживание, учёба бесплатно. Стипендии нет.
                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">要求汉语授课项目HSK4，英语授课ITELS6.0.
                    Обучение на китайском требуется HSK4, обучение на английском требуется IELТS6.0</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">нет</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>
             <!-- card 14 -->
             <div class="grants__card1">
              <ul class="feature">
                <li>
                  <div class="feature-left">Университет:</div>
                  <div class="feature-right">西南大学 юго-западный университет</div>
                </li>
                <li>
                  <div class="feature-left">Город:</div>
                  <div class="feature-right">重庆 Чунцин</div>
                </li>
                <li>
                  <div class="feature-left">Информация:</div>
                  <div class="feature-right">本科免学费给1100生活费，硕士全免给1500生活费
                    учёба бесплатно проживание платное, стипендия 1100 ю/месяц ,
                    2, магистратура  все бесплатно стипендия 1500 ю/месяц
                  </div>
                </li>
                <li>
                  <div class="feature-left">Условия поступления:</div>
                  <div class="feature-right">汉语、药学等几个专业容易录取
                    легче пройти на специальности: китайский язык и медицина</div>
                </li>
                <li>
                  <div class="feature-left">Стипендия:</div>
                  <div class="feature-right">1100元</div>
                </li>
                <li>
                  <div class="feature-left">Дэдлайн:</div>
                  <div class="feature-right">30 апреля</div>
                </li>
                <li>
                  <div class="feature-left">Услуга:</div>
                  <div class="feature-right">10 000元 (1450$)</div>
                </li>
              </ul>
            </div>

            <div class="d-grid">
              <button type="button" class="grants__btn btn-reset" id="grantsBtn-bacalavr">Смотреть больше грантов</button>
            </div>

        </div>
        <!-- магистратура -->
        <div class="grants-tabs__panel2 tabs__panel">
          <!-- card 1 -->
          <div class="grants__card2">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">南华大学 Университет Наньхуа</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">湖南衡阳 Хэнъян провинция хунань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">硕博 全免给1500-2000，硕士博士含英文授课专业
                  магистратура и докторантура, проживание и учёба все бесплатно.</div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">主要招收东欧学生,
                  HSK не требуется, в основном для восточноевропейских студентов.
                </div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">1500-2000元</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 2 -->
          <div class="grants__card2">
          <ul class="feature">
            <li>
              <div class="feature-left">Университет:</div>
              <div class="feature-right">成都大学 университет Чэнду</div>
            </li>
            <li>
              <div class="feature-left">Город:</div>
              <div class="feature-right">四川成都 провинция Сысуань город Чэнду</div>
            </li>
            <li>
              <div class="feature-left">Информация:</div>
              <div class="feature-right">主要招收艺术生，产品设计，环境设计，动画，编导，钢琴、小提琴、声乐能专业，本科全免给1200元，硕士全免给1400元
                в основном принимает студентов искусств, специальность: дизайн продукции, дизайн окружающей среды, анимация, режиссура, пианино,
                скрипка, вокал - все бесплатно.

              </div>
            </li>
            <li>
              <div class="feature-left">Условия поступления:</div>
              <div class="feature-right">主要招收东欧学生,
                HSK не требуется, в основном для восточноевропейских студентов.
              </div>
            </li>
            <li>
              <div class="feature-left">Стипендия:</div>
              <div class="feature-right">1400元</div>
            </li>
            <li>
              <div class="feature-left">Дэдлайн:</div>
              <div class="feature-right">нет</div>
            </li>
            <li>
              <div class="feature-left">Услуга:</div>
              <div class="feature-right">10 000元 (1450$)</div>
            </li>
          </ul>
          </div>
          <!-- card 3 -->
          <div class="grants__card2">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">中南财经政法大学 центрально-южный финансово-экономический университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">湖北武汉 провинция Хубей город Ухань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">本硕博全免给2500元
                  магистратура и докторантура, проживание и учёба все бесплатно.</div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">要求HSK5以上，成绩优秀 требуется HSK5, должен быть высокий средний бал</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500元</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 4 -->
          <div class="grants__card2">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">中南大学 центрально-южный университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">湖南长沙 Чанша провинция Хунань</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">本硕博全免给2000/2500/3000
                  магистратура, доктарантура проживание и учёба бесплатно.
                </div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">要求HSK4 250分以上，成绩优秀
                  требуется HSK4 250 баллов и выше, должен быть высокий средний бал</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">2500-3000元</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 5 -->
          <div class="grants__card2">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">扬州大学 университет Янчжоу</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">江苏扬州 про Цзянсу город Янчжоу</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">本科，国际贸易，机械设计制造  软件工程、土木工程，旅游管理，汉语国际教育，全免费；硕士，全免给1500，博士全免给2500元。
                  международная торговля, механический дизайн и производство, програмная инженерия, гражданское строительство,
                   управление туризмом, китайский язык для международных образований,
                   магистратура  все бесплатно стипендия 1500 ю/месяц.
                   докторантура все бесплатно стипендия 2500 ю/месяц

                </div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">要求汉语授课项目HSK4，英语授课ITELS6.0.
                  Обучение на китайском требуется HSK4, обучение на английском требуется IELТS6.0</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">1500-2500元</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>
          <!-- card 6 -->
          <div class="grants__card2">
            <ul class="feature">
              <li>
                <div class="feature-left">Университет:</div>
                <div class="feature-right">西南大学 юго-западный университет</div>
              </li>
              <li>
                <div class="feature-left">Город:</div>
                <div class="feature-right">重庆 Чунцин</div>
              </li>
              <li>
                <div class="feature-left">Информация:</div>
                <div class="feature-right">本科免学费给1100生活费，硕士全免给1500生活费
                  магистратура все бесплатно.
                </div>
              </li>
              <li>
                <div class="feature-left">Условия поступления:</div>
                <div class="feature-right">汉语、药学等几个专业容易录取
                  легче пройти на специальности: китайский язык и медицина</div>
              </li>
              <li>
                <div class="feature-left">Стипендия:</div>
                <div class="feature-right">1500元</div>
              </li>
              <li>
                <div class="feature-left">Дэдлайн:</div>
                <div class="feature-right">нет</div>
              </li>
              <li>
                <div class="feature-left">Услуга:</div>
                <div class="feature-right">10 000元 (1450$)</div>
              </li>
            </ul>
          </div>

          <div class="d-grid jf-center">
            <button type="button" class="grants__btn btn-reset" id="grantsBtn-masters">Смотреть больше грантов</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
