<section class="hero" id="hero">
    <div class="hero__swiper swiper">
      <div class="hero__swiper-wrapper swiper-wrapper">

        <!-- Slides -->
        <div class="hero__swiper-slide swiper-slide" data-swiper-autoplay="2000">
          <picture>
            <source srcset="img/hero/hero-slide-1.webp" type="image/webp">
            <img loading="lazy" src="img/hero/hero-slide-1.jpg" class="hero__swiper-image" width="100%" alt="фоновое изображенрие">
          </picture>
        </div>

        <div class="hero__swiper-slide swiper-slide">
          <picture>
            <source srcset="img/hero/hero-slide-2.webp" type="image/webp">
            <img loading="lazy" src="img/hero/hero-slide-2.jpg" class="hero__swiper-image" width="100%" alt="фоновое изображенрие">
          </picture>
        </div>

        <div class="hero__swiper-slide swiper-slide">
          <picture>
            <source srcset="img/hero/hero-slide-3.webp" type="image/webp">
            <img loading="lazy" src="img/hero/hero-slide-3.jpg" class="hero__swiper-image" width="100%" alt="фоновое изображенрие">
          </picture>
        </div>

        <div class="hero__swiper-slide swiper-slide">
          <picture>
            <source srcset="img/hero/hero-slide-4.webp" type="image/webp">
            <img loading="lazy" src="img/hero/hero-slide-4.jpg" class="hero__swiper-image" width="100%" alt="фоновое изображенрие">
          </picture>
        </div>

      </div>

      <div class="container">
        <div class="hero__block">
          <h1 class="hero__block-title">Обучение в китае по гранту</h1>
          <p class="hero__block-subtitle">Образование за границей - залог успешного будущего!</p>
          <a class="hero__block-btn" href="#contacts">Оставить заявку</a>
        </div>
      </div>
    </div>


</section>
